* {
    box-sizing: border-box;
	background-color: black !important;
}


/* font style */

body {
    font-family: Nunito !important;
	background-color: rgb(21, 21, 21);
}

/* sticky navbar properties */

.navbar {
    position: sticky !important;
    top: 0!important;
    z-index: 10;
    background-color: rgb(21, 21, 21) !important;
	padding: 0%;
	font-size: 20px;
}

.container-fluid {
	height: 120px;
}
/* logo style */

.logo {
    width: 80px;
    height: 80px;
}

span {
	text-transform: uppercase;
	font-size: 22px;
	padding: 10px;
	transition: transform 0.5s ease-out;
	transition: color 3.s ;
}

span:hover {
	color:#9c4754;

}

/* logo hover */

img:hover {
	margin-left: 0 40px;
	transform: scale(1.2);
	cursor: pointer;
	transition: transform 0.5s ease-out;
}

button {
	color: #fff;
}

/* nav-bar color style properties */

.navbar-toggler, .nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar-toggler, .nav-link:hover {
    color: #9c4754 !important;
}

.nav-link:hover {
	color:#f3f6f3
}

.me-2 {
    width: 250px;
}

.form-control:focus {
    color: white;
    background-color: #fff;
    border-color: #42000A;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(98, 19, 18, 0.25);
}


.navbar-toggler-icon {
    color: rgb(23, 23, 23);
}

/* search button styles */

.btn-success {
--bs-btn-color: #000;
--bs-btn-bg: #42000A;
--bs-btn-border-color: #000000;
}

.btn:hover {
    color: #000000;
    background-color: #812e3b !important;
    border-color: #812e3b;
}

/* IMDb search results styles */

#result {
	width: 52%;
	margin: 0 auto;
	text-align: left;
	border-left: 1px solid rgb(211, 206, 206);
	border-right: 1px solid rgb(205, 202, 202);
	border-radius: 10px;
}

.resultRow {
	padding: 2px 15px;
	border-bottom: 1px solid white;
	display: block;
	border-radius: 10px;
	color: rgb(221, 216, 216);
}

/* Reusults description hover */

a:hover {
	color: #812e3b;
	text-decoration: none;
}

.poster {
	background-image: url('../img/noimage.png');
	display: inline-block;
	width: 40px;
	height: 54px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.description {
	display: inline-block;
	padding: 15px;
	vertical-align: middle;
	width: 75%;
	line-height: 1.2em;
}


h3 {
	text-transform: uppercase;
	color: rgb(245, 241, 241);
}

#favourites {
	display: flex;
	gap: 3em;
	}

#quotes {
	font-size: 20px;
	color: rgb(211, 207, 207);
}

@media screen and (max-width: 768px) {
    .resultRow {
        width: 100% !important;
    }

    #result {
        width: 100% !important;
    }
    
}

section {
	display: flex;
	width: 100%;
	overflow-x: auto;
	
}

section img {
	width: 200px;
	padding: 20px 10px;
	z-index: 1;
}

#results-nowshowing {
	margin-top: 20px;
}

.content {
	display: none;
}

.content div {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin: 10px;
	padding: 10px 10px;
	overflow-x: auto;
}

.content-display {
	display: block;
}

