* {
    box-sizing: border-box;
}


/* font style */

body {
    font-family: Nunito !important;
	background-color: rgb(6, 6, 6);
}

/* sticky navbar properties */

.navbar {
    position: sticky !important;
    top: 0!important;
    z-index: 10;
    background-color: black !important;;
}

/* logo style */

.logo {
    width: 80px;
    height: 80px;
}

/* nav-bar color style properties */

.navbar-brand, .navbar-toggler, .nav-link {
    color: white !important;
}

.me-2 {
    width: 250px;
}


.navbar-toggler-icon {
    color: black;
}

/* search button styles */

.btn-success {
--bs-btn-color: #000;
--bs-btn-bg: #fdfffe;
--bs-btn-border-color: #000000;
}

.btn:hover {
    color: black;
    background-color: white;
    border-color: black;
}

/* IMDb search results styles */

#result {
	width: 52%;
	margin: 0 auto;
	text-align: left;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-radius: 10px;
}

.resultRow {
	padding: 2px 15px;
	border-bottom: 1px solid white;
	display: block;
	border-radius: 10px;
	color: white;
}

.resultRow:hover {
	background-color: white !important;
	color: black;
}

.poster {
	background-image: url('../img/noimage.png');
	display: inline-block;
	width: 40px;
	height: 54px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.description {
	display: inline-block;
	padding: 15px;
	vertical-align: middle;
	width: 75%;
	line-height: 1.2em;
}

h3 {
	text-transform: uppercase;
	color: white;
}


@media screen and (max-width: 768px) {
    .resultRow {
        width: 100% !important;
    }

    #result {
        width: 100% !important;
    }
    
}

section {
	display: flex;
	width: 100%;
	overflow-x: auto;
	
}

section img {
	width: 200px;
	padding: 20px 10px;
	z-index: 1;
}

img:hover {
	margin-left: 0 40px;
	transform: scale(1.2);
	cursor: pointer;
	transition: transform 0.5s ease-out;
	
}


#results-nowshowing {
	margin-top: 20px;
}

.content {
	display: none;
}

.content div {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin: 10px;
	padding: 10px 10px;
	overflow-x: auto;
}

.content-display {
	display: block;
}

/* footer styles */

.text-center {
	display: flex;
	flex-direction: column;
}