@tailwind base;
@tailwind components;
@tailwind utilities;

/* main styles */
* {
	box-sizing: border-box;
	background-color: black;
	font-family: Nunito;
}

/* <a> hover font style */
a:hover {
	color: #812e3b;
	text-decoration: none;
}

/* nav-bar */
nav {
	z-index: 999;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	color: #fff;
	text-align: center;
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}


/* movie section styles */
h2 {
	font-size: x-large;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 10px;
	border: #812e3b solid 2px;
	border-radius: 10px;
	font: bolder;
}

/* IMDb search results styles */
#result {
	position: absolute;
	top: 110px;
	left: 25%;
	height: 70%;
	width: 52%;
	margin: 0 auto;
	text-align: left;
	border-left: 1px solid rgb(211, 206, 206);
	border-right: 1px solid rgb(205, 202, 202);
	border-radius: 10px;
	overflow: scroll;
	z-index: 99;
	display: none;
}

.resultRow {
	border-bottom: 1px solid white;
	display: block;
	color: rgb(221, 216, 216);
	overflow: scroll;
}

.poster {
	background-image: url('../img/noimage.png');
	display: inline-block;
	width: 60px;
	height: 84px;
	margin: 10px;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
}

.description {
	display: inline-block;
	padding: 15px;
	vertical-align: middle;
	width: 75%;
	line-height: 1.2em;
}


/* main search styles */
#results-nowshowing {
	margin-top: 20px;
}

/* movie card styles */
.movie-section  {
	display: flex;
	width: 100%;
	overflow-x: auto;
}

.movie-section img {
	margin: 20px 5px;
	z-index: 1;
}

/* trailer section */
.video-section > div {
	display: flex;
	margin: 10px;
	width: 180%;
	overflow-x: scroll;
	translate: -244px;
	scroll-behavior: smooth;
}


@media screen and (max-width: 768px) {
		/* IMDB search result */
		.resultRow {
        width: 100%;
    }

    #result {
        width: 100%;
				height: 50%;
				left: 0;
				top: 110px;
    }   
}