body {
    font-family: Nunito !important;
}

.navbar {
    position: sticky !important;
    top: 0!important;
    z-index: 10;
    background-color: #BDE4E7 !important;;
}

.logo {
    width: 80px;
    height: 80px;
}

.btn {
    color: black !important;
    background-color: white!important;
    border-color: black!important;
}

.btn:hover {
    background-color: black !important;
    color: white !important;;
}

.navbar-toggler-icon {
    color: black;
}