* {
    box-sizing: border-box;
}


/* font style */

body {
    font-family: Nunito !important;
	background-color: rgb(21, 21, 21);
}

/* sticky navbar properties */

.navbar {
    position: sticky !important;
    top: 0!important;
    z-index: 10;
    background-color: rgb(21, 21, 21) !important;;
	font-size: 20px;
}

/* logo style */

.logo {
    width: 80px;
    height: 80px;
}

span {
	text-transform: uppercase;
	font-size: 22px;
	
	transition: transform 0.5s ease-out;
	transition: color 3.s ;
}

span:hover {
	color:#812e3b;

}
/* nav-bar color style properties */

 .navbar-toggler, .nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar-toggler, .nav-link:hover {
    color: #812e3b !important;
}

.nav-link:hover {
 color:#f3f6f3
}

.me-2 {
    width: 250px;
}


.navbar-toggler-icon {
    color: rgb(23, 23, 23);
}

/* search button styles */

.btn-success {
--bs-btn-color: #000;
--bs-btn-bg: #42000A;
--bs-btn-border-color: #000000;
}

.btn:hover {
    color: rgb(21, 21, 21);
    background-color: #812e3b;
    border-color: rgb(21, 21, 21)
}

/* IMDb search results styles */

#result {
	width: 52%;
	margin: 0 auto;
	text-align: left;
	border-left: 1px solid rgb(211, 206, 206);
	border-right: 1px solid rgb(205, 202, 202);
	border-radius: 10px;
}

.resultRow {
	padding: 2px 15px;
	border-bottom: 1px solid white;
	display: block;
	border-radius: 10px;
	color: rgb(221, 216, 216);
}

.resultRow:hover {
	background-color: rgb(68, 148, 72) !important;
	color: rgb(21, 21, 21);
	transition: transform 0.5s;
}

.poster {
	background-image: url('../img/noimage.png');
	display: inline-block;
	width: 40px;
	height: 54px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.description {
	display: inline-block;
	padding: 15px;
	vertical-align: middle;
	width: 75%;
	line-height: 1.2em;
}


h3 {
	text-transform: uppercase;
	color: rgb(220, 214, 214);
}

#quotes {
	font-size: 20px;
	color: rgb(211, 207, 207);
}


@media screen and (max-width: 768px) {
    .resultRow {
        width: 100% !important;
    }

    #result {
        width: 100% !important;
    }
    
}

section {
	display: flex;
	width: 100%;
	overflow-x: auto;
	
}

section img {
	width: 200px;
	padding: 20px 10px;
	z-index: 1;
}

img:hover {
	margin-left: 0 40px;
	transform: scale(1.2);
	cursor: pointer;
	transition: transform 0.5s ease-out;
}


#results-nowshowing {
	margin-top: 20px;
}

.content {
	display: none;
}

.content div {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin: 10px;
	padding: 10px 10px;
	overflow-x: auto;
}

.content-display {
	display: block;
}

  /* h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
	color:#f3f6f3;
	font-weight: bold;
} */

 

/* footer styles */

.text-center {
	display: flex;
	flex-direction: column;
}

p {
	color: rgb(226, 223, 223);
	font-size: 10px;
}